@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    margin: 0px;
    padding:0px;
}

.header, .hero ,.footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight:800;
}

.header-logo {
    padding-left: 100px;
}

.header-links {
    padding-right: 100px;
}


ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: #efe7eb;
}

.company-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.company-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.header-features {
    font-size: 36px;
    font-weight:800;
    color:#1f2937;
}

.intro {
    padding-left: 100px;
}

.intro .company-subtitle {
    padding: 10px 0px;
}

.quote {
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    color: #1f2937;
}

.quote .author {
    color: #1f2937;
    font-weight: bold;
}


.subscribe {
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

/* Flex */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 16px;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

.intro button {
    border: 0px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
}

.hero img {
    max-width: 300px;
    height: auto;
    padding-right: 100px;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-features {
    padding: 50px;
}
/* .container {
    display: flex;
    
} */
/* 
.container img {
    max-width: 250px;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: baseline;
} */

