body {
    font-family: 'roboto';
    margin: 0px;
    padding:0px;
}

.header, .hero ,.footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: #efe7eb;
}

.company-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.company-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.header-features {
    font-size: 36px;
    font-weight:800;
    color:#1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    color: #1f2937;
}

.quote .author {
    color: #1f2937;
    font-weight: bold;
}


.subscribe {
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

/* Flex */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header-logo {
    padding-left: 100px;
}

.header-links {
    padding-right: 100px;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    gap: 20px
}

.intro {
    padding-left: 100px;
}

.hero img {
    max-width: 300px;
    height: auto;
    padding-right: 100px;
}

.features {
    text-align: center;
}

.container {
    display: flex;
    
}

.container img {
    max-width: 250px;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: baseline;
}

